
.titulo__questionario{
margin-top: 150px;    
margin-left: 130px;
background-color:cornflowerblue;
max-width: 50%;
font-family:monospace;
}

.questionario_evaluación{
    margin-top: 25px;
    max-width: 700px;
    font-family: 'Courier New', Courier, monospace;
}

.parrafo__condiciones--evaluacion{
font-size:10px;
max-width: 100%;
font-family:cursive;
}