.contenedor__titulo--drenaje{
    font-size: medium;
    margin-left: 130px;
    margin-top: 10px;
    color:blue;
}

.contenedor__parrafo--drenaje{
    margin-left: 130px;
    font-size:small;
}

.contenedor__titulo--maderoterapia{
    margin-top: -347px;
    font-size: medium;
    color: blue;
    margin-left: 500px;
}

.contenedor__parrafo--maderoterapa{
    margin-left: 500px;
    font-size: small;
}

.contenedor__titulo--radiofrecuencia{
margin-top: -347px;
margin-left: 828px;
font-size: medium;
color: blue;
}

.contenedor__parrafo--radiofrecuencia{
margin-left: 830px;
font-size: small;
}

.container__video--drenajeLinfatico{
margin-right: 40px;
}

.container__video--maderoterapia{
margin-right: 25px;
}
